@using NoiThat.Utilities
@using NoiThat.Models.DataModels
@model IEnumerable<Product>
<!-- Item -->
@foreach (var i in Model)
{
    <div class="item">
        <div class="col-item">
            <div class="images-container">
                <a class="product-image" title="@i.ProductName" href="product_detail.html">
                    <img src="@WebConstants.ImgProductHost/@i.Images" class="img-responsive" alt="@i.Images" />
                </a>
                <div class="actions">
                    <div class="actions-inner">
                        @*<ul class="add-to-links">
                            <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span></span></a></li>
                            <li><a href="compare.html" title="Add to Compare" class="link-compare "><span></span></a></li>
                        </ul>*@
                    </div>
                </div>
                <div class="qv-button-container"> <a href="quick_view.html" class="qv-e-button btn-quickview-1 loadquickview" productid="@i.ProductID"><span><span>Xem nhanh</span></span></a> </div>
            </div>
            <div class="info">
                <div class="info-inner">
                    <div class="item-title"> <a title=" @i.ProductName" href="product_detail.html"> @i.ProductName </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                        <div class="ratings">
                            <div class="rating-box">
                                @{
                                    var rating = i.Rating;
                                    var r = 0;
                                    if (rating == 1)
                                    {
                                        r = 20;
                                    }
                                    if (rating == 2)
                                    {
                                        r = 40;
                                    }
                                    if (rating == 3)
                                    {
                                         r = 60;
                                    }
                                    if (rating == 4)
                                    {
                                         r = 80;
                                    }
                                    if (rating == 5)
                                    {
                                         r = 100;
                                    }
                                }
                                <div style="width:@r%" class="rating"></div>
                            </div>
                        </div>
                        
                    </div>
                    <!--item-content-->
                </div>
                <!--info-inner-->
                <div class="actions" style="margin-bottom:5px">
                    @*<button class="button btn-cart" title="Add to Cart" type="button"><span>Xem Chi Tiết</span></button>*@
                    <a title="@i.ProductName" class="button btn-cart" href="/chi-tiet/@i.SEOUrlRewrite-@i.ProductID"> Chi tiết </a>
                </div>
                <!--actions-->
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
}

<!-- End Item -->
