@using NoiThat.Utilities
@using NoiThat.Models.DataModels
@model IEnumerable<Slide>
  
<div id="magik-slideshow" class="magik-slideshow">
    <div class="wow">
        <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
            <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                <ul>
                    @foreach (var q in Model)
                    {
                        <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='@WebConstants.ImgSlideHomePage/@q.ImageURL'>
                            <img src='@WebConstants.ImgSlideHomePage/@q.ImageURL' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner" />
                            <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='15' data-y='80' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>@q.Slogun1</div>
                            <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='15' data-y='135' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span> @q.Slogun2 </span></div>
                            <div class='tp-caption sfb  tp-resizeme ' data-x='15' data-y='360' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='@q.LinkBanner' class="view-more">Tìm hiểu thêm</a> <a href='/lien-he' class="buy-btn">Liên hệ</a></div>
                            
                        </li>
                    }
                    
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </div>
</div>