@using System.Configuration
@using NoiThat.Models
@using NoiThat.Utilities
@model AboutUsViewModel

@{
    ViewBag.Title = Model.aboutus.SEOTitle;
    Helpers h = new Helpers();
}
@section metatags
{
    <meta name="keywords" content="@Model.aboutus.SEOKeywords" />
    <meta name="description" content="@Model.aboutus.SEOMetadescription" />
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a title="Go to Home Page" href="/">Trang chủ</a><span>—›</span></li>
                <li class="category13"><strong>@Model.aboutus.BlogName</strong></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <section class="col-main col-sm-9 wow">
                <div class="page-title">
                    <h2>@Model.aboutus.BlogName</h2>
                </div>
                <div class="static-contain">
                    @*@{
                            string founder = Model.aboutus.Content;
                            string afterFounder = "";
                            int pos = founder.IndexOf(ConfigurationManager.AppSettings["CKImgFinderLocal"]);
                            if (pos >= 0)
                            {
                                // String after founder
                                afterFounder = founder.Replace(ConfigurationManager.AppSettings["CKImgFinderLocal"], ConfigurationManager.AppSettings["CKImgFinderHost"]);
                            }
                            else
                            {
                                afterFounder = founder;
                            }
                        }*@
                    @*@Helpers.ReplaceString(ConfigurationManager.AppSettings["CKImgFinderLocal"], ConfigurationManager.AppSettings["CKImgFinderHost"])*@
                    @Html.Raw(@Helpers.ReplaceString(Model.aboutus.Content, ConfigurationManager.AppSettings["CKImgFinderLocal"], ConfigurationManager.AppSettings["CKImgFinderHost"]))
                </div>
            </section>
            <aside class="col-right sidebar col-sm-3 wow">
                <div class="block block-company">
                    <div class="block-title">Về chúng tôi </div>
                    <div class="block-content">
                        <ol id="recently-viewed-items">
                            @foreach (var i in Model.lstLeftMenu)
                            {
                                <li class="item even"><a href="/@i.SEOUrlRewrite-@i.BlogID">@i.BlogName</a></li>
                            }
                            <li class="item last"><a href="/lien-he">Liên hệ</a></li>
                        </ol>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {

            $(".level0 a").removeClass("active");
            $("a#menugt").addClass("active");

        });
    </script>
}