@using System.Configuration
@using NoiThat.Models
@using NoiThat.Utilities
@model NewsViewModel

@{
    ViewBag.Title = Model.blogdetail.BlogName;
    Helpers h = new Helpers();
}
@section metatags
{
    <meta name="keywords" content="@Model.blogdetail.SEOKeywords" />
    <meta name="description" content="@Model.blogdetail.SEOMetadescription" />
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=2522905957975232&autoLogAppEvents=1"></script>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="/" title="trang chủ">Trang Chủ</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>
                <li class="home"> <a href="@Model.TitleUrl" title="@Model.Title">@Model.Title</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>
                <li class="category13"><strong>@Model.category.CategoryName</strong></li>

            </ul>
        </div>
    </div>
</div>

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 wow">
                <div class="page-title">
                    <h2>@Model.blogdetail.BlogName</h2>
                </div>
                <div class="fb-share-button" data-href="https://noithattanthoi.com/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnoithattanthoi.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
                <div class="blog-wrapper" id="main">
                    <div class="site-content" id="primary">
                        <div role="main" id="content">
                            <article class="blog_entry clearfix" id="post-29">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h2 class="blog_entry-title"></h2>
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <!--blog_entry-header clearfix-->
                                <div class="entry-content">
                                    @*<div class="featured-thumb"><a href="#"><img alt="blog-img4" src="~/images/blog-img4.jpg"></a></div>*@
                                    <div class="entry-content">
                                        @Html.Raw(@Helpers.ReplaceString(Model.blogdetail.Content, ConfigurationManager.AppSettings["CKImgFinderLocal"], ConfigurationManager.AppSettings["CKImgFinderHost"]))
                                    </div>
                                </div>
                                <footer class="entry-meta">
                                    Đăng bởi <a rel="category tag" title="@Model.blogdetail.User.UserName" href="#first-category">@Model.blogdetail.User.UserName</a> vào lúc
                                    <time datetime="2014-07-10T06:53:43+00:00" class="entry-date">@Convert.ToDateTime(Model.blogdetail.LastModify).ToString(WebConstants.DateFormatVI)</time>
                                    .
                                </footer>
                            </article>
                            <div class="comment-content wow">
                                <div class="comments-wrapper">
                                    <h3> Comments </h3>
                                    <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div>
                                    <!--commentlist-->
                                </div>
                                <!--comments-wrapper-->
                                <!--comments-form-wrapper clearfix-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-right sidebar col-sm-3">
                <div role="complementary" class="widget_wrapper13" id="secondary">
                    <div class="popular-posts widget widget__sidebar wow" id="recent-posts-4">
                        <h3 class="widget-title"><span>Bài viết mới</span></h3>
                        <div class="widget-content">
                            <ul class="posts-list unstyled clearfix">
                                @foreach (var i in Model.lstBlogsNewest)
                                {
                                    <li>
                                        <figure class="featured-thumb">
                                            <a href="/chi-tiet-tin-tuc/@i.SEOUrlRewrite-@i.BlogID">
                                                <img width="80" height="53" alt="@i.BlogName" src="@WebConstants.ImgNewsHost/@i.ImageURL">
                                            </a>
                                        </figure>
                                        <!--featured-thumb-->
                                        <h4><a title="@i.BlogName" href="/chi-tiet-tin-tuc/@i.SEOUrlRewrite-@i.BlogID">@i.BlogName  </a></h4>
                                        <p class="post-meta">
                                            <i class="icon-calendar"></i>
                                            <time class="entry-date">@Convert.ToDateTime(i.LastModify).ToString(WebConstants.DateFormatVI)</time>
                                            .
                                        </p>
                                    </li>
                                }

                            </ul>
                        </div>
                        <!--widget-content-->
                    </div>
                    <div class="popular-posts widget widget_categories wow" id="categories-2">
                        <h3 class="widget-title"><span>Dịch vụ</span></h3>
                        <ul>
                            @foreach (var j in Model.lstServices)
                            {
                                <li class="cat-item cat-item-19599"><a href="/dich-vu/@j.SEOUrlRewrite-@j.CategoryID">@j.CategoryName</a></li>
                            }

                        </ul>
                    </div>
                    <!-- Banner Ad Block -->
                    <div class="ad-spots widget widget__sidebar">
                        <h3 class="widget-title"><span>Quảng cáo</span></h3>
                        <div class="widget-content">
                            @foreach (var i in Model.LeftPromote)
                            {
                                <a target="_self" href="#" title="">
                                    <img alt="@i.AdvertiseName" src="@WebConstants.ImgNewsHost/@i.AdvertiseImage" />
                                </a>
                            }
                        </div>

                    </div>
                    <!-- Banner Text Block -->
                    <div class="text-widget widget widget__sidebar">
                        <h3 class="widget-title"><span>Nội thất Tân thời</span></h3>
                        <div class="widget-content">
                            <strong>CÔNG TY TNHH MTV TM - DV - CƠ KHÍ XÂY DỰNG TÂN THỜI</strong>
                            Lấy phương châm uy tín và chất lượng làm điều kiện để thương hiệu chúng tôi tồn tại
                            <a href="/gioi-thieu-3" class="btn btn-mega">Xem thêm &nbsp; <span class="icon icon-arrow-right-5"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

   
}
