@using System.Configuration
@using NoiThat.Models
@using NoiThat.Utilities
@model NewsViewModel

@{
    ViewBag.Title = Model.blogdetail.BlogName;
    Helpers h = new Helpers();
}
@section metatags
{
    <meta name="keywords" content="@Model.blogdetail.SEOKeywords" />
    <meta name="description" content="@Model.blogdetail.SEOMetadescription" />
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="/" title="trang chủ">Trang Chủ</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>  
                    <li class="home"> <a href="/dich-vu" title="dịch vụ">Dịch Vụ</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>
                    <li class="category13"><strong>@Model.category.CategoryName</strong></li>
                
            </ul>
        </div>
    </div>
</div>

<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9 wow">
                <div class="page-title">
                    <h2>@Model.blogdetail.BlogName</h2>
                </div>
                <div class="blog-wrapper" id="main">
                    <div class="site-content" id="primary">
                        <div role="main" id="content">
                            <article class="blog_entry clearfix" id="post-29">
                                <header class="blog_entry-header clearfix">
                                    <div class="blog_entry-header-inner">
                                        <h2 class="blog_entry-title"></h2>
                                    </div>
                                    <!--blog_entry-header-inner-->
                                </header>
                                <!--blog_entry-header clearfix-->
                                <div class="entry-content">
                                    @*<div class="featured-thumb"><a href="#"><img alt="blog-img4" src="~/images/blog-img4.jpg"></a></div>*@
                                    <div class="entry-content">
                                        @Html.Raw(@Helpers.ReplaceString(Model.blogdetail.Content, ConfigurationManager.AppSettings["CKImgFinderLocal"], ConfigurationManager.AppSettings["CKImgFinderHost"]))
                                    </div>
                                </div>
                                <footer class="entry-meta">
                                    Đăng bởi <a rel="category tag" title="@Model.blogdetail.User.UserName" href="#first-category">@Model.blogdetail.User.UserName</a> vào lúc
                                    <time datetime="2014-07-10T06:53:43+00:00" class="entry-date">@Convert.ToDateTime(Model.blogdetail.LastModify).ToString(WebConstants.DateFormatVI)</time>
                                    .
                                </footer>
                            </article>
                            <div class="comment-content wow">
                                <div class="comments-wrapper">
                                    <h3> Comments </h3>
                                    <ul class="commentlist">
                                        <li class="comment">
                                            <div class="comment-wrapper" id="post-29">
                                                <div class="comment-author vcard"> <p class="gravatar"><a href="#"><img width="60" height="60" alt="avatar" src="images/avatar60x60.jpg"></a></p><span class="author">John Doe</span> </div>
                                                <!--comment-author vcard-->
                                                <div class="comment-meta">
                                                    <time datetime="2014-07-10T07:26:28+00:00" class="entry-date">Thu, Jul 10, 2014 07:26:28 am</time>
                                                    .
                                                </div>
                                                <!--comment-meta-->
                                                <div class="comment-body"> Curabitur at vestibulum sem. Aliquam vehicula neque ac nibh suscipit ultrices. Morbi interdum accumsan arcu nec scelerisque ellentesque id erat sem, ut commodo nulla. Sed a nulla et eros fringilla. Phasellus eget purus nulla. </div>
                                            </div>
                                        </li>
                                        <!--comment-->
                                        <li class="comment">
                                            <div class="comment-wrapper" id="post-29">
                                                <div class="comment-author vcard"><p class="gravatar"><a href="#"><img width="60" height="60" alt="avatar" src="images/avatar60x60.jpg"></a></p> <span class="author">John Doe</span> </div>
                                                <!--comment-author vcard-->
                                                <div class="comment-meta">
                                                    <time datetime="2014-07-10T07:27:08+00:00" class="entry-date">Thu, Jul 10, 2014 07:27:08 am</time>
                                                    .
                                                </div>
                                                <!--comment-meta-->
                                                <div class="comment-body"> Curabitur at vestibulum sem. Aliquam vehicula neque ac nibh suscipit ultrices. Morbi interdum accumsan arcu nec scelerisque ellentesque id erat sem, ut commodo nulla. Sed a nulla et eros fringilla. Phasellus eget purus nulla. </div>
                                            </div>
                                        </li>
                                        <!--comment-->
                                        <li class="comment">
                                            <div class="comment-wrapper" id="post-29">
                                                <div class="comment-author vcard"> <p class="gravatar"><a href="#"><img width="60" height="60" alt="avatar" src="images/avatar60x60.jpg"></a></p><span class="author">John Doe</span> </div>
                                                <!--comment-author vcard-->
                                                <div class="comment-meta">
                                                    <time datetime="2014-07-10T07:27:56+00:00" class="entry-date">Thu, Jul 10, 2014 07:27:56 am</time>
                                                    .
                                                </div>
                                                <!--comment-meta-->
                                                <div class="comment-body"> Curabitur at vestibulum sem. Aliquam vehicula neque ac nibh suscipit ultrices. Morbi interdum accumsan arcu nec scelerisque ellentesque id erat sem, ut commodo nulla. Sed a nulla et eros fringilla. Phasellus eget purus nulla. </div>
                                            </div>
                                        </li>
                                        <!--comment-->
                                        <li class="comment">
                                            <div class="comment-wrapper" id="post-29">
                                                <div class="comment-author vcard"><p class="gravatar"><a href="#"><img width="60" height="60" alt="avatar" src="images/avatar60x60.jpg"></a></p> <span class="author">Lisa White</span> </div>
                                                <!--comment-author vcard-->
                                                <div class="comment-meta">
                                                    <time datetime="2014-07-10T07:28:32+00:00" class="entry-date">Thu, Jul 10, 2014 07:28:32 am</time>
                                                    .
                                                </div>
                                                <!--comment-meta-->
                                                <div class="comment-body"> Curabitur at vestibulum sem. Aliquam vehicula neque ac nibh suscipit ultrices. Morbi interdum accumsan arcu nec scelerisque ellentesque id erat sem, ut commodo nulla. Sed a nulla et eros fringilla. </div>
                                            </div>
                                        </li>
                                        <!--comment-->
                                    </ul>
                                    <!--commentlist-->
                                </div>
                                <!--comments-wrapper-->

                                <div class="comments-form-wrapper clearfix">
                                    <h3>Leave A reply</h3>
                                    <form class="comment-form" method="post" id="postComment" action="#">
                                        <div class="field">
                                            <label for="name">Name<em class="required">*</em></label>
                                            <input type="text" class="input-text" title="Name" value="" id="user" name="user_name">
                                        </div>
                                        <div class="field">
                                            <label for="email">Email<em class="required">*</em></label>
                                            <input type="text" class="input-text validate-email" title="Email" value="" id="email" name="user_email">
                                        </div>
                                        <div class="clear"></div>
                                        <div class="field aw-blog-comment-area">
                                            <label for="comment">Comment<em class="required">*</em></label>
                                            <textarea rows="5" cols="50" class="input-text" title="Comment" id="comment" name="comment"></textarea>
                                        </div>
                                        <div style="width:96%" class="button-set">
                                            <input type="hidden" value="1" name="blog_id">
                                            <button type="submit" class="bnt-comment"><span><span>Add Comment</span></span></button>
                                        </div>
                                    </form>
                                </div>
                                <!--comments-form-wrapper clearfix-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-right sidebar col-sm-3">
                <div role="complementary" class="widget_wrapper13" id="secondary">
                    <div class="popular-posts widget widget__sidebar wow" id="recent-posts-4">
                        <h3 class="widget-title"><span>Bài viết mới</span></h3>
                        <div class="widget-content">
                            <ul class="posts-list unstyled clearfix">
                                @foreach(var i in Model.lstBlogsNewest)
                                {
                                <li>
                                    <figure class="featured-thumb"> 
                                    <a href="#/pellentesque-posuere"> 
                                        <img width="80" height="53" alt="@i.BlogName" src="@WebConstants.ImgNewsHost/@i.ImageURL"> </a>
                                    </figure>
                                    <!--featured-thumb-->
                                    <h4><a title="@i.BlogName" href="/tin-tuc/@i.SEOUrlRewrite-@i.BlogID">@i.BlogName  </a></h4>
                                    <p class="post-meta">
                                        <i class="icon-calendar"></i>
                                        <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">@Convert.ToDateTime(i.LastModify).ToString(WebConstants.DateFormatVI)</time>
                                        .
                                    </p>
                                </li>
                                }
                                
                            </ul>
                        </div>
                        <!--widget-content-->
                    </div>
                    <div class="popular-posts widget widget_categories wow" id="categories-2">
                        <h3 class="widget-title"><span>Categories</span></h3>
                        <ul>
                            <li class="cat-item cat-item-19599"><a href="#/first-category">First Category</a></li>
                            <ul>
                            </ul>
                            <li class="cat-item cat-item-19599"><a href="#/second-category">Second Category</a></li>
                            <ul>
                            </ul>
                        </ul>
                    </div>
                    <!-- Banner Ad Block -->
                    <div class="ad-spots widget widget__sidebar">
                        <h3 class="widget-title"><span>Ad Spots</span></h3>
                        <div class="widget-content"><a target="_self" href="#" title=""><img alt="offer banner" src="~/images/RHS-banner-img.jpg"></a></div>
                    </div>
                    <!-- Banner Text Block -->
                    <div class="text-widget widget widget__sidebar">
                        <h3 class="widget-title"><span>Text Widget</span></h3>
                        <div class="widget-content">
                            Mauris at blandit erat. Nam vel tortor non quam scelerisque cursus. Praesent nunc vitae magna pellentesque auctor. Quisque id lectus.<br>
                            <br>
                            Massa, eget eleifend tellus. Proin nec ante leo ssim nunc sit amet velit malesuada pharetra. Nulla neque sapien, sollicitudin non ornare quis, malesuada.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

