@using NoiThat.Models
@using NoiThat.Utilities;
@model NewsViewModel
@{
    ViewBag.Title = "Index";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a title="Go to Home Page" href="/">Trang chủ</a><span>—›</span></li>
                <li class="category13"><strong>Tin tức</strong></li>
            </ul>
        </div>
    </div>
</div>
<div class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-9">
                <div class="page-title">
                    <h2>Tin tức</h2>
                </div>
                <div class="blog-wrapper" id="main">

                </div>
                <select name="sample_2_length" aria-controls="sample_2" class="form-control input-xsmall input-inline select2-offscreen" tabindex="-1" title="" id="ddlPageSize">
                    <option value="4">Hiện thị 4 tin</option>
                    <option value="8">Hiện thị 8 tin</option>
                    <option value="10" selected>Hiện thị 10 tin</option>
                    <option value="16">Hiện thị 16 tin</option>
                    <option value="20">Hiện thị 20 tin</option>
                    <option value="-1">Hiện thị Tất cả</option>
                </select>
            </div>
            <div class="col-right sidebar col-sm-3">
                <div role="complementary" class="widget_wrapper13" id="secondary">
                    <div class="popular-posts widget widget__sidebar wow" id="recent-posts-4">
                        <h3 class="widget-title"><span>Bài viết nổi bật</span></h3>
                        <div class="widget-content">
                            <ul class="posts-list unstyled clearfix">
                                @foreach (var i in Model.lstBlogsNewest)
                                {
                                    <li>
                                        <figure class="featured-thumb">
                                            <a href="/chi-tiet-tin-tuc/@i.SEOUrlRewrite-@i.BlogID"> <img width="80" height="53" alt="@i.BlogName" src="@WebConstants.ImgNewsHost/@i.ImageURL"> </a>
                                        </figure>
                                        <!--featured-thumb-->
                                        <h4><a title="@i.BlogName" href="/chi-tiet-tin-tuc/@i.SEOUrlRewrite-@i.BlogID">@i.BlogName</a></h4>
                                        <p class="post-meta">
                                            <i class="icon-calendar"></i>
                                            <time datetime="2014-07-10T07:09:31+00:00" class="entry-date">@Convert.ToDateTime(i.LastModify).ToString(WebConstants.DateFormatVI)</time>
                                            .
                                        </p>
                                    </li>
                                }


                            </ul>
                        </div>
                        <!--widget-content-->
                    </div>
                    <div class="popular-posts widget widget_categories wow" id="categories-2">
                        <h3 class="widget-title"><span>Dịch vụ</span></h3>
                        <ul>
                            @foreach (var j in Model.lstServices)
                            {
                                <li class="cat-item cat-item-19599"><a href="/dich-vu/@j.SEOUrlRewrite-@j.CategoryID">@j.CategoryName</a></li>
                            }

                        </ul>
                    </div>
                    <!-- Banner Ad Block -->
                    <div class="ad-spots widget widget__sidebar">
                        <h3 class="widget-title"><span>Quảng cáo</span></h3>
                        <div class="widget-content">
                            @foreach (var i in Model.LeftPromote)
                            {
                                <a target="_self" href="#" title="">
                                    <img alt="@i.AdvertiseName" src="@WebConstants.ImgNewsHost/@i.AdvertiseImage" />
                                </a>
                            }
                        </div>

                    </div>
                    <!-- Banner Text Block -->
                    <div class="text-widget widget widget__sidebar">
                        <h3 class="widget-title"><span>Nội thất Tân thời</span></h3>
                        <div class="widget-content">
                            <strong>CÔNG TY TNHH MTV TM - DV - CƠ KHÍ XÂY DỰNG TÂN THỜI</strong>
                            Lấy phương châm uy tín và chất lượng làm điều kiện để thương hiệu chúng tôi tồn tại
                            <a href="/gioi-thieu-3" class="btn btn-mega">Xem thêm &nbsp; <span class="icon icon-arrow-right-5"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
         $.ajaxSetup({
                cache: false
         });


         $(".level0 a").removeClass("active");
         $("a#menutt").addClass("active");


        filter();

        $('body').on('change', '#ddlPageSize', function () {
            filter();
        });

        //textbox name
        $('.txtSearch').on('input', function () {
            filter();
        });

        //Drop change Dept
            $('.drChange').change(function () {
                filter();
            });



    });

    function filter() {

        $.ajax({
            //url: '/BDS_TinTuc/_PartialIndex',
            url: '@Url.Action("_PartialNewsLst", "News")',
            data: {
                pageSize: parseInt($('#ddlPageSize').val()),
            },
            method: 'GET',
            dataType: 'html',
            success: function (data) {
                $('#main').html(data);
                $("#lbl_Message").html("");
            }
        });

    }
    </script>
}
