@using PagedList;
@using PagedList.Mvc;
@using NoiThat.Models.DataModels
@using NoiThat.Utilities;
@model IPagedList<NoiThat.Models.DataModels.Product>
@{
    Helpers h = new Helpers();
}



<ul class="products-grid">
    @foreach (var q in Model)
    {
        <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6">
            <div class="col-item">

                @if (q.IsNew == true)
                {
                    <div class="new-label new-top-right">Mới</div>
                }

                @if (q.IsSale == true)
                {
                    <div class="sale-label sale-top-left">Sale</div>
                }


                <div class="images-container">
                    <a class="product-image" title="@q.SEOTitle" href="/chi-tiet-san-pham/@q.SEOUrlRewrite-@q.ProductID"> <img src="@WebConstants.ImgProductImage\@q.Images" class="img-responsive" alt="a" /> </a>
                    <div class="actions">
                        <div class="actions-inner">
                            @*<button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>*@
                            <ul class="add-to-links">
                                <li><a href="wishlist.html" title="Yêu thích" class="link-wishlist"><span>Yêu thích</span></a></li>
                                @*<li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1 loadquickview" productid="@q.ProductID" href="javascript:"><span><span>Xem Nhanh</span></span></a> </div>
                </div>
                <div class="info">
                    <div class="info-inner">
                        <div class="item-title"> <a title="@q.SEOTitle" href="/chi-tiet-san-pham/@q.SEOUrlRewrite-@q.ProductID"> @q.ProductName </a> </div>
                        <!--item-title-->
                        <div class="item-content">
                            <div class="ratings">
                                <div class="rating-box">
                                    <div style="width:90%" class="rating"></div>
                                </div>
                            </div>
                            <div class="price-box">
                                @*<p class="special-price"> <span class="price"> @q.PriceSale </span> </p>*@
                                @*<p class="old-price"> <span class="price-sep">-</span> <span class="price"> @q.Price</span> </p>*@
                            </div>
                        </div>
                        <!--item-content-->
                    </div>
                    <!--info-inner-->
                    <!--actions-->

                    <div class="clearfix"> </div>
                </div>
            </div>
        </li>
    }
</ul>

@*<div class="pagination" id="sample_1_paginate">

</div>*@

<div class="toolbar">
    
    <div class="pager">
       
        <div class="pages">
            @*<label>Page:</label>*@
            @Html.PagedListPager(Model, pageNumber => Url.Action("_grid",
       new
       {
           pageNumber,
           pageSize = ViewBag.pageSize,
           SanPham = ViewBag.SanPham,
           DanhMucCha = ViewBag.DanhMucCha,
           SEOKeywords = ViewBag.SEOKeywords
       }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new PagedListRenderOptions()
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayItemSliceAndTotal = true
        }, new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "lstProducts"
        }))
        </div>
    </div>
</div>




