@model NoiThat.Models.ProductDetailViewModel
@{
    ViewBag.Title = Model.product.ProductName;
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="/" title="trang chủ nội thất tân thời">Home</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>
                <li class=""> <a href="@Model.CategoryLink" title="@Model.CategoryName">@Model.CategoryName</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>
                <li class="category13"><strong>@Model.product.ProductName</strong></li>
            </ul>
        </div>
    </div>
</div>





<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="row">
                <div class="product-view wow">
                    <div class="product-essential">
                        <div id="product_addtocart_form">

                            @Html.Partial("_listimage", Model.listimage)


                            @Html.Partial("_detail", Model.product)

                        </div>
                    </div>
                    <div class="product-collateral">


                        @Html.Partial("_content", Model.product)

                        <div class="col-sm-12">
                            <div class="box-additional">

                                @Html.Partial("_relate", Model.relate)

                                @Html.Partial("_upsell", Model.upsell)

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>














@section scripts
{

   
    <script>
        $(document).ready(function () {

            $(".level0 a").removeClass("active");
            $("a#menusp").addClass("active");

        });
    </script>
}