@model NoiThat.Models.ListProductViewModel2
@{
    ViewBag.Title = Model.Title;
}

@section metatags
{
    <meta name="keywords" content="@Model.SEOKeywords" />
    <meta name="description" content="@Model.SEOMetadescription" />
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home"> <a href="/" title="trang chủ">Trang Chủ</a><i class="icon-long-arrow-right stepby" aria-hidden="true"></i></li>
                <li class="category13"><strong>@Model.Title</strong> </li>
                @*<li class="category13"><strong>@Model.Title</strong></li>*@
            </ul>
        </div>
    </div>
</div>


<section class="main-container col2-left-layout">
    <div class="main container">
        <div class="row">

            <section class="col-main col-sm-9 col-sm-push-3 wow">
                <div class="category-title">
                    <h1>@Model.Title</h1>
                </div>


                @Html.Partial("_slide", Model.slides)


                <div class="category-products">

                    <div class="toolbar">
                        <div class="col-md-6" style="float:left"><input type="text" id="txtTenSP" style="width:80%" class="input-text " placeholder="Nhập tên sản phẩm..." /></div>
                        <div class="col-md-6" style="text-align:right">
                            @*<span>Hiện thị: </span>*@

                            <select id="ddlPageSize">
                                <option value="15" selected>15 sản phẩm/trang</option>
                               
                                <option value="30">30 sản phẩm/trang</option>
                                <option value="35">35 sản phẩm/trang</option>
                                <option value="40">40 sản phẩm/trang</option>
                                <option value="-1">Tất cả sản phẩm</option>
                            </select>
                        </div>


                    </div>
                    <div id="lstProducts">
                        @*@if (Session["viewlist"] == null)
                            {
                                @Html.Partial("_grid", Model.products)
                            }
                            else
                            {
                                @Html.Partial("_list", Model.products)
                            }*@

                    </div>

                </div>




            </section>


            <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow">

                @Html.Partial("_leftmenu", Model)

                <div class="block block-poll">
                    <div class="block-title"><span>Videos</span> </div>
                    <div class="block-content">
                        <video src="~/images/TanThoi.mp4" controls="controls" height="150px" autoplay="autoplay" audio="muted">Dòng thông báo</video>
                    </div>
                </div>

                <div class="block block-subscribe">
                    <div class="block-title"><span>Bản tin</span></div>
                    <form action="#" method="post" id="newsletter-validate-detail">
                        <div class="block-content">
                            <div class="form-subscribe-header"> Đăng ký nhận bản tin mới: </div>
                            <input type="text" name="email" id="newsletter" title="" class="input-text required-entry validate-email" placeholder="nhập email">
                            <div class="actions">
                                <button type="submit" title="Submit" class="subscribe"><span>Theo dõi</span></button>
                            </div>
                        </div>
                    </form>
                </div>


                @Html.Partial("_leftPromote", Model.LeftPromote)
                <div class="block block-tags">
                    <div class="block-title"><span>Từ khóa phổ biến</span></div>
                    <div class="block-content">
                        <ul class="tags-list">
                            <li><a style="font-size:98.3333333333%;" href="#tagId/23/">Nội thất văn phòng</a></li>
                            <li><a style="font-size:86.6666666667%;" href="#tagId/109/">Nội thất phòng bếp</a></li>
                            <li><a style="font-size:145%;" href="#tagId/27/">Nội thất giá rẻ Bình Dương</a></li>
                            <li><a style="font-size:75%;" href="#tagId/61/">Nội thất giá rẻ</a></li>
                            <li><a style="font-size:110%;" href="#tagId/29/">Thiết kế nội thất Chung cư</a></li>
                            <li><a style="font-size:86.6666666667%;" href="#tagId/17/">Thiết kế nội thất bình dương</a></li>
                            <li><a style="font-size:110%;" href="#tagId/12/">Thi công nội thất Bình Dương</a></li>
                            <li><a style="font-size:86.6666666667%;" href="#tagId/184/">nội thất chung cư giá rẻ tại bình dương</a></li>

                        </ul>
                        <div class="actions"> <a class="view-all" title="Xem tất cả sản phẩm" href="/san-pham">Tất cả sản phẩm</a> </div>
                    </div>
                </div>


            </aside>

        </div>
    </div>
</section>




@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {

            $(".level0 a").removeClass("active");
            $("a#menusp").addClass("active");
            filter();

            $('body').on('change', '#ddlPageSize', function () {
                filter();
            });

            //textbox name
            $('#txtTenSP').on('input', function () {
                filter();
            });
        });

        function filter() {
            var SanPham = $("#txtTenSP").val();
            $.ajax({
                //url: '/BDS_TinTuc/_PartialIndex',
                url: '@Url.Action("_grid", "Product")',
                data: {
                    pageSize: parseInt($('#ddlPageSize').val()),
                    SanPham: SanPham,
                },
                method: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#lstProducts').html(data);
                    $("#lbl_Message").html("");
                }
            });

        }
    </script>
}